.git
.gitignore
.venv
venv
env
*.egg-info
.pytest_cache
.mypy_cache
__pycache__
*.pyc
*.pyo
*.pyd
.Python
*.so

data/
runs/
test_results_testdev/
images/
*.pth

.idea
.vscode
.cursor
.DS_Store
Thumbs.db
